.Back{
    width: 60%;
    background: gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
.left-col,
.right-col
{
    width: 50%;
    min-width: 180px;
    height: auto;
    box-sizing: border-box;
    float: left;
}
.left-col{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 5px solid coral;
}
.right-col{
    padding-left: 10px;
}
.img{
    width: 90%;
}
.textimg{
    text-align: right;
    padding-right: 10%;
}