body{
    background-image: url(img/Background.jpg) ;
    background-size: 100%;
}
.title{
    text-align: center;
    font-size: 200%;
}
hr{
    width: 30%;
}
.back{
    align-content: center;
    padding: 5% 10%;
    float: left;
}
.right-col
{
    width: 215px;
    height: 250px;
    box-sizing: border-box;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    background: white;
    vertical-align: bottom;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    position: relative;

}
.img{
    width: 100%;
    min-height: 50%;
    max-height: 70%;
}
.textimg{
    position: absolute;
    text-align: center;
    max-height: 180px;
    padding-right: 10px;
    margin-bottom: 0;
    bottom: 0;
}