body{
    background-image: url(img/Bakcground.jpg) ;
    background-size: 100%;
}
.title{
    text-align: center;
    width: 90%;
    font-size: 300%;
}
.back{
    align-content: center;
    padding: 10% 20%;
    float: left;
}
.right-col
{
    width: 25%;
    height: 350px;
    box-sizing: border-box;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    background: white;
    vertical-align: bottom;

}
.right-col{
    padding-left: 10px; /* отступ слева */
    padding-right: 10px;
    margin: 20px;
    position: relative;
}
.img{
    width: 100%;
    min-height: 50%;
    max-height: 70%;
}
.textimg{
    position: absolute;
    text-align: justify;
    max-height: 180px;
    width: 90%;
    bottom: 0;
}